@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: "aAttackGraffiti";
    src: url('/assets/font/aAttackGraffiti.ttf') format('truetype');
}

.titleNav{
    font-family:'aAttackGraffiti';
    color: black;
}
.logo {  
    position: absolute; 
    right: 15px;   
    color: #0e2431;  
   }  
.gambar{
    height: 35px;
    width: 50px;
    border-radius: 15px;
}
body{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
h1{
    font-weight: 900;
}
.container-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}
.box{
    margin-top: 80px;
    width: 350px;
    font-size: 16px;
    padding: 40px 40px;
    background: #434856;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 38px;
    position: relative;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  

.user{
    margin-top: 50px;
}
input{
    width: 90%;
    margin-bottom: 25px;
    padding: 0px 30px 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition: .3s all;
}
input:focus{
    border-bottom: 1px solid #257696;
}
.reset-password{
    text-align: right;
    margin-top: 0px;
    font-size: 12px;
    cursor: pointer;
}
.reset-link{
    text-decoration: none;
    color: #3793df;
}
.reset-link:hover{
    color: white;
    transition: .3s color;
}
.login-btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    display: block;
    width: 70%;
    padding: 15px;
    background-color: #31a3ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    transition: .2s all;
    cursor: pointer;
}
.register{
    font-size: 15px;
    color: white;
}
.btn:hover{
    opacity: 1;
}
.register-link{
    text-decoration: none;
    color: #3793df;
    cursor: pointer;
    transition: .3s color;
}
.register-link:hover{
    color: #ffffff;
}
.header-tittle{
    color: white;
}
.allert-failed{
    z-index: 1;
    height: 10px;
    position: absolute;
    margin-bottom: 330px;
}
.allert-success{
    z-index: 1;
    height: 10px;
    position: absolute;
    margin-bottom: 330px;
}